OVERLEAF_BASE_URL=https://www.overleaf.com
OVERLEAF_HOME_DIR=
OVERLEAF_SESSION_FILE=
OVERLEAF_MAX_READ_CHARS=60000
OVERLEAF_TREE_TTL_MS=15000
OVERLEAF_SOCKET_TIMEOUT_MS=20000
OVERLEAF_LOGIN_TIMEOUT_MS=600000
OVERLEAF_RECON_PROJECT_ID=
OVERLEAF_DETECT_TIMEOUT_MS=90000
OVERLEAF_DETECT_MIN_CHARS=200
OVERLEAF_DETECT_BROWSER=chromium
OVERLEAF_DETECT_HEADLESS=true
SAPLING_API_KEY=
GPTZERO_API_KEY=
